body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

}

header{
    background-color: #333;
    color: #fff;
    padding:1rem 0 ;
    text-align: center;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li
{
    margin:0 1rem;

}

nav ul li a{
    color: #fff;
    text-decoration: none;

}
nav ul li a:hover
{
text-decoration:underline;

}
/* Drop Down Menu */

.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-btn{
    background-color: #007bff;
    color: wheat;
    padding: 10px 20px;
    border: none;
    cursor:pointer;
}
.dropdown-btn:hover
{
    background-color: #0056b3;

}
.dropdown-content
{
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-color a:hover
{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;

}
/* Image Gallery */
.gallery
{
    width:100%
    border:2px solid #ccc;
}

.gallery img:hover
{
    transform: scale(1.1);
    border-color: #007bff;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/*Attribute Selector for Image Filtering*/
img[data-category="mobile"]{
    background-color: green;
}
img[data-category="Laptop"]{
    background-color: red;
}

form
{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}
form label
{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}
form input,form select,form button
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[required]
{
    border-color: #007bff;
}
form input:focus
{
    border-color: #0056b3;
    outline: none;
}
form button
{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover
{
    background-color: #0056b3;
}
footer
{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}


